$w: #fff;
$grey-1: #f1f4f7;
$grey-2: #dddfe0;
$grey-3: #c7cfd6;
$grey-4: #e6e9ec;
$grey: #bfc6d0;
$grey-med: #8e9296;
$dark-grey: #333;
$b: #000;
$bluelight-1: #00fff6;
$blue-t-2: #1cb7d0;
$bluelight-3: #24a7d7;
$blue-t-med: #229cdb;
$blue-t-1: #317ad1;
$bluedark: #307ad2;

// $red: #dc0031;
$red: #e40134;
// $red-dark: #a30234;
$red-dark: #b71928;

$grey-40: rgba(241, 244, 247, 0.4);
$blue-op: rgba(36, 167, 215, 0.4);
$green-op: rgba(36, 215, 101, 0.6);
$red-op: rgba(220, 0, 49, 0.6);
