{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |{% trans %} Skills {% endtrans %}{% endblock %}

{% block body %}
     <section class="container pt-5">
        <div>
            <h1 class="d-inline-block">{% trans %} Skills / Competencies {% endtrans %}</h1>
            <a href="{{ path('skill_new') }}" class="text-blue" data-toggle="tooltip" title="Add new"><i class="icon icon-md material-icons-add_circle icon-shift-2"></i></a>
        </div>
        <div class="list-header text-right">
            
        </div>
        <div class="tree">
        <div class="list">
        {% for skill in skills %}
            <div class="item">
                <div class="item-inner">
                    <a href="#" class="title toggle-disciplies">{{ skill.titleEn }}</a>
                    <span class="actions float-right">
                        <a href="{{ path('skill_edit', {'id': skill.id}) }}" class="edit-link"><i class="icon icon-sm mdi mdi-pencil-box"></i></a>
                        <a href="#" class="delete-link" onclick="confirm('Are you sure ?');"><i class="icon icon-sm mdi mdi-delete"></i></a>
                    </span>
                </div>
            </div>
        {% else %}
        <p>
            <span class="hint">{% trans %} no records found {% endtrans %}</span>
        </p>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
