{% extends 'base.html.twig' %}

{% block title %}{% trans %} New Role {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %} Create new Role {% endtrans %}</h1>

    {{ include('admin/role/_form.html.twig') }}

    <a href="{{ path('role_index') }}">{% trans %} back to list {% endtrans %}</a>
{% endblock %}
